aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.1
async-timeout==4.0.2
attrs==22.1.0
autopep8==1.7.0
banal==1.0.6
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
cycler==0.11.0
dataset==1.5.2
datasets==2.4.0
dgl==0.9.0
dill==0.3.5.1
filelock==3.8.0
fonttools==4.36.0
frozenlist==1.3.1
fsspec==2022.8.2
graph4nlp==0.5.5
greenlet==1.1.3
huggingface-hub==0.8.1
idna==3.3
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.4
littleutils==0.2.2
Mako==1.2.2
MarkupSafe==2.1.1
matplotlib==3.5.3
multidict==6.0.2
multiprocess==0.70.13
networkx==2.8.5
nltk==3.7
numpy==1.23.2
ogb==1.3.3
outdated==0.2.1
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
psutil==5.9.1
pyarrow==9.0.0
pycodestyle==2.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
pythonds==1.2.1
pytz==2022.2.1
PyYAML==6.0
regex==2022.7.25
requests==2.28.1
responses==0.18.0
scikit-learn==1.1.2
scipy==1.9.0
six==1.16.0
SQLAlchemy==1.4.40
stanfordcorenlp==3.9.1.1
threadpoolctl==3.1.0
tokenizers==0.12.1
toml==0.10.2
torch==1.12.1
torchtext==0.13.1
tqdm==4.64.0
transformers==4.21.1
typing_extensions==4.3.0
urllib3==1.26.11
xxhash==3.0.0
yarl==1.8.1
